*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html, body { 
    overflow-x:hidden;
}
body{
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: -300%;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3));
    margin-bottom: -65vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 80px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
} 
.back-video{
    position: fixed;
    height: fixed;
    width: fixed;
    z-index: -1;
}

body{
    margin: 0;
     padding: 0;
     font-family: "open sans",sans-serif;
   background: #F4F4F4;
    background-size: cover;
    height: 100%;
   
  }
  .about-section2 {
    width: 70%;
    padding: 40px 0;
    margin-left: auto;
    margin-right:auto;
    margin-top: 170px;
  box-shadow: #fff 5px 5px 15px 15px;
border-radius: 50px;
  position: relative;
  top: -230px;
   
   
  }
  .inner-width2{
    max-width: 1000px;
    overflow: hidden;
    padding: 0 20px;
    margin: auto;
  }
  .about-section2 h1{
    text-align: center;
  }
  .border2{
    width: 100px;
    height: 3px;
    background: #7f00ff;
    margin: 40px auto;
  }
  .textcol1{
    color: #fff;
  }
  .about-section-row2{
    display: flex;
    flex-wrap: wrap;
  }
  .about-section-col2{
    flex: 50%;
  }
  .about2{
    margin-left: 30px;
    padding-right: 30px;
    position: relative;
    right: -30px; 
  }
  .about2 h2{
    text-align: justify;
    margin-bottom: 20px;
    color: #fff;
    font-size: 17px;
    position: relative;
    left: -50px;
    top: -20px;
  }
  .about2 span{
    color: #7f00ff;
  }
  
  .skills2{
    padding-left: 30px;
  }
  .skill2{
    margin-bottom: 10px;
  }
  .title2{
    color: #fff;
  }
  .progress2{
    width: 100%;
    height: 12px;
    background: #fff;
    border-radius: 12px;
  }
  .progress-bar2{
    height: 12px;
    background: #7f00ff;
    border-radius: 12px;
  }
  .p1{
    width: 90%;
  }
  .p2{
    width: 70%;
  }
  .p3{
    width: 50%;
  }
  .progress-bar2 span{
    float: right;
    margin-right: 6px;
    line-height: 13px;
    color: #fff;
    font-size: 12px;
  }
  
  .footer1{
    position: relative;
    top: -90px;
  }

  .container1{
    max-width: 1170px;
    margin: auto;
  }
  .row1{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }

  .footer-col1{
     width: 25%;
     padding: 0 50px;
     position: relative;
     bottom: -60px;
  }

  .footer-col1 h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col1 h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #fff;
    height: 2px;
    box-sizing: border-box;
    width: 60px;
  }
  .footer-col1 ul li:not(:last-child){
    margin-bottom: 7px;
  }
  .footer-col1 ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col1 ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  @media screen and (max-width:700px) {
    .about-section-col{
      flex: 100%;
      margin: 10px 0;
    }
    .about,.skills{
      padding: 0;
    }
    .about{
      text-align: center;
    }
}


@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
