*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

.hero{
    width: 100%;
    height: 100vh;
    background-color: #000; 
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tex{
   color: #fff;
   align-items: center;
}
.tex span{
    color: rgb(97, 97, 97);
}
