*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html, body { 
    overflow-x:hidden;
}
.pp{
    font-style: bold;
}
.pp2{
    position: relative;
    right: -900px;
    top: -50px;
    font-style: bold;
    color: blueviolet;
}
